.form-wrapper {
  width: 600px;
}

.title {
  color: violet;
}

input:focus {
  outline-color: purple;
}

#tap {
  width: 18px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 5px;
}

#tap + label {
  display: inline;
  vertical-align: middle;
}

.submit-button {
  margin-top: 8px;
  background-color: violet;
}

.submit-button:hover {
  background-color: orchid;
}

label {
  color: darkmagenta;
}
